In [36]:
#Display text
print("Hello World! My name is Debbie.")

Hello World! My name is Debbie.

In [38]:
#Add two numbers together
10+5

15

In [40]:
#Subtract a number from another number
18-6

12

In [42]:
#Multiply two numbes
25*2

50

In [44]:
#Divide between two numbers
2200 / 2

1100.0

In [46]:
#Concatenate two stirngs together
"Happy" + " " + "coding!"

'Happy coding!'

In [48]:
#Create a list of 4 items
packages = ["PyCharm Professional", "Jupyter", "Orange 3", "Anaconda Toolbox"]
packages

['PyCharm Professional', 'Jupyter', 'Orange 3', 'Anaconda Toolbox']

In [50]:
#Append an item to the list
packages = ["PyCharm Professional", "Jupyter", "Orange 3", "Anaconda Toolbox"]
packages.append("Spyder")
packages

['PyCharm Professional', 'Jupyter', 'Orange 3', 'Anaconda Toolbox', 'Spyder']

In [52]:
#Sort the list
packages.sort()
packages

['Anaconda Toolbox', 'Jupyter', 'Orange 3', 'PyCharm Professional', 'Spyder']

In [54]:
#Create a tuple with 4 items
student = ("Debbie", "McMurrick", "Bellevue Univeristy", "MS Data Science")
student

('Debbie', 'McMurrick', 'Bellevue Univeristy', 'MS Data Science')